
/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  
  /* ---- typography ---- */
  
  body {
    margin: 0px;
    padding: 0 px; 
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    line-height: 147%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: baseline; 
  }

  canvas {
    width: 500px; 
    position: relative; 
    margin: 0 auto;

  }
  
  h1 {}
  
  h2 {}
  
  h3 {
    text-align: center; 
    color: yellow; 
  }

  h4 {
    text-align: center; 
  }
  
  p {
    font-size: 11px;
    text-align: center;
    padding: 0 20px; 
    
  }

  
  
  .glow {
    border: 1px solid #0055c4;
    

  }

  .animation-glow {
    animation: glowing 5000ms infinite;
  }

  @keyframes glowing {
    0% { box-shadow: 0 0 -10px #0055c4; }
    40% { box-shadow: 0 0 20px #0055c4; }
    60% { box-shadow: 0 0 20px #0055c4; }
    100% { box-shadow: 0 0 -10px #0055c4; }
  }
  
  
  /* ---- layout ---- */
  
  #site-header {
    padding: 30px 0;
    color: white;
    background: #111;
  }
  
  #site-footer {
    color: white;
    padding: 60px 0;
    background: #111;
  }
  
  #site-main {
    margin-bottom: 60px;
  }
  
  .container {
    margin: 0 20px;
  }
  
  .section {
    margin-bottom: 20px;
    padding-top: 20px;
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 728px;
      margin: 0 auto;
    }
  }
  
  
  
  
  /* ---- components ---- */
  
  .button {
    font-family: 'Press Start 2P', cursive;
    width: 200px;
    color: yellow;
    background-color: black;
    display: block;
    margin: 0 auto;
    padding: 20px 0;
    border:none;
    cursor:pointer;
  }

  .button:hover {
    font-size: 12px;
    text-shadow: 2px 2px  #0055c4;
  }
  
  .button-alt {
    color: blue;
    background-color: #fff;
  }

  .logo-main{
    width: 400px;
    padding-top: 10px; 

  }
  
  /* ---- section ---- */
  
  section.testimonials {
    // ...
  }
  
  section.testimonials .button {
    margin-bottom: 10px;
  }

  img {
    display: block;
    margin: 0 auto; 
  }

  .game-image{
    width: 500px; 
  }